.nest {
  background-color: none;
  width: 100%;
}

* {
  margin: 0%;
  padding: 0%;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 55px;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.navbar {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 5%;
  background-color: transparent;
  margin: 20px;
}

.navbar img {
  float: left;
  width: 10vw;
  height: 4vh;
}

/* Logo */
.navbar nav {
  float: right;
}

.navbar nav img {
  padding-left: 30px;
  width: 20%;
  height: 20%;
}

/* Nav ICONS */
.landing {
  overflow: auto;
  /* padding: 50px; */
  background-image: url("../img/Landing Image.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

/* Landing IMAGE */
.landingcontent {
  color: whitesmoke;
  text-align: center;
  width: 50%;
  margin: 25%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.landingcontent h1 {
  padding-bottom: 25px;
}

.landingcontent p {
  line-height: 25px;
}

.sponsors {
  background-color: black;
  padding: 20px 0 40px 0;
  margin: 20px 0 0 0;
  -webkit-box-shadow: 0px -50px 70px 50px black;
          box-shadow: 0px -50px 70px 50px black;
}

.sponsors p {
  padding-top: 10px;
  color: grey;
  text-align: center;
  font-size: 12px;
}

.intro {
  padding: 40px 40px 70px 40px;
  background-color: #181818;
  overflow: auto;
  display: inline-block;
  margin-bottom: -10px;
}

.intro .introtitle h3 {
  color: #e3e3e3;
  text-align: center;
  width: 40%;
  padding: 50px 30%;
  line-height: 25px;
  font-weight: 400;
}

.intro .introvideo {
  width: 70%;
  padding: 0 15%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.intro p {
  text-align: center;
  color: whitesmoke;
  padding: 50px;
}

.features {
  background-color: black;
  overflow: auto;
  padding: 50px 0 0 0;
  margin: 0;
}

.features h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: whitesmoke;
}

.features h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  line-height: 40px;
}

.features p {
  color: white;
  font-size: 12px;
}

.features .feature {
  text-align: center;
  width: 23%;
  float: left;
  padding: 10px 0 50px 0;
  margin: 5%;
}

.tech {
  background-color: whitesmoke;
  overflow: auto;
  display: inline-block;
  padding-bottom: 5%;
}

.tech h3 {
  color: black;
  font-size: 40px;
  line-height: 50px;
  margin-left: 10vw;
  padding: 100px 65% 25px 5%;
}

.tech p {
  color: black;
  padding: 0 45% 5% 5%;
  margin-left: 10vw;
  line-height: 20px;
}

.tech .demo-container {
  margin-left: 10vw;
  overflow: auto;
  display: inline-block;
  padding-right: 2%;
}

.tech .demo-container .demo {
  width: 27%;
  float: left;
  text-align: left;
  padding: 0 0% 0 4%;
}

.tech .demo-container .demo img {
  width: 100%;
  height: 100%;
}

.tech .demo-container .demo h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 10px 0;
}

.tech .demo-container .demo p {
  text-align: left;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
}
/*# sourceMappingURL=stylesheet.css.map */